<status>
  <card class="<%= config.card.client.color %>-card" id="client-status-card">
    <icon class="material-icons-outlined <%= config.card.client.color %>-text"
      >web_assets</icon
    >
    <main data-i18n="client"><%= i18n.client %></main>
    <status-text
      class="<%= config.card.client.color %>-text"
      data-i18n="status.<%= getStatusKey(config.card.client.status) %>"
      ><%= config.card.client.status %></status-text
    >
  </card>
  <card
    class="<%= config.card.edgeNetwork.color %>-card"
    id="client-status-card"
  >
    <icon
      class="material-icons-outlined <%= config.card.edgeNetwork.color %>-text"
      >cloud</icon
    >
    <main data-i18n="edgeNetwork"><%= i18n.edgeNetwork %></main>
    <status-text
      class="<%= config.card.edgeNetwork.color %>-text"
      data-i18n="status.<%= getStatusKey(config.card.edgeNetwork.status) %>"
      ><%= config.card.edgeNetwork.status %></status-text
    >
  </card>
  <card class="<%= config.card.webServer.color %>-card" id="client-status-card">
    <icon
      class="material-icons-outlined <%= config.card.webServer.color %>-text"
      >dns</icon
    >
    <main data-i18n="webServer"><%= i18n.webServer %></main>
    <status-text
      class="<%= config.card.webServer.color %>-text"
      data-i18n="status.<%= getStatusKey(config.card.webServer.status) %>"
      ><%= config.card.webServer.status %></status-text
    >
  </card>
</status>
