<reason>
  <explain>
    <main data-lang-en="<%= i18n.en.explain %>" data-lang-zh="<%= i18n.zh.explain %>">
      <%= i18n.en.explain %>
    </main>
    <p data-lang-en="<%= typeof config.reason.explain === 'object' ? config.reason.explain.en : config.reason.explain %>" data-lang-zh="<%= typeof config.reason.explain === 'object' ? config.reason.explain.zh : config.reason.explain %>"><%- typeof config.reason.explain === 'object' ? config.reason.explain.en : config.reason.explain %></p>
  </explain>
  <howtodo>
    <main data-lang-en="<%= i18n.en.howtodo %>" data-lang-zh="<%= i18n.zh.howtodo %>">
      <%= i18n.en.howtodo %>
    </main>
    <p data-lang-en="<%= typeof config.reason.howtodo === 'object' ? config.reason.howtodo.en : config.reason.howtodo %>" data-lang-zh="<%= typeof config.reason.howtodo === 'object' ? config.reason.howtodo.zh : config.reason.howtodo %>"><%- typeof config.reason.howtodo === 'object' ? config.reason.howtodo.en : config.reason.howtodo %></p>
  </howtodo>
</reason>