<footer>
  <provider data-i18n="provider"><%- i18n.provider %></provider>
  <br />
  <text>
    <!-- Project link (shown for all footer types) -->
    <span data-i18n="footer.projectLink"
      ><%- allI18n['en-US'].footer.projectLink %></span
    >
    <br />

    <!-- Your IP and Ray ID -->
    <div id="footer-details">
      <!-- Your IP with placeholders -->
      <span data-i18n="footer.yourIpPre"
        ><%- allI18n['en-US'].footer.yourIpPre %></span
      ><code>::CLIENT_IP:: (::GEO::)</code
      ><span data-i18n="footer.yourIpPost"
        ><%- allI18n['en-US'].footer.yourIpPost %></span
      >
      <br />

      <!-- Ray ID with placeholders -->
      <span data-i18n="footer.rayIdPre"
        ><%- allI18n['en-US'].footer.rayIdPre %></span
      ><code>::RAY_ID::</code
      ><span data-i18n="footer.rayIdPost"
        ><%- allI18n['en-US'].footer.rayIdPost %></span
      >
      <br />
    </div>
  </text>
</footer>
