<footer>
  <provider data-i18n="provider"><%- i18n.provider %></provider>
  <br />
  <text>
    <!-- Project link (shown for all footer types) -->
    <span data-i18n="footer.projectLink"
      ><%- allI18n['en-US'].footer.projectLink %></span
    >
    <br />

    <!-- Your IP and Ray ID -->
    <div id="footer-details">
      <!-- Your IP with placeholders -->
      <span data-i18n="footer.yourIpPre"
        ><%- allI18n['en-US'].footer.yourIpPre %></span
      ><code id="client-ip" style="display: none">::CLIENT_IP:: (::GEO::)</code
      ><span data-i18n="footer.yourIpPost"
        ><%- allI18n['en-US'].footer.yourIpPost %></span
      ><a
        id="click-to-reveal"
        data-i18n="footer.clickToReveal"
        onclick="revealIP()"
        href="javascript:void(0)"
        ><%- allI18n['en-US'].footer.clickToReveal %></a
      >
      <br />

      <!-- Ray ID with placeholders -->
      <span data-i18n="footer.rayIdPre"
        ><%- allI18n['en-US'].footer.rayIdPre %></span
      ><code>::RAY_ID::</code
      ><span data-i18n="footer.rayIdPost"
        ><%- allI18n['en-US'].footer.rayIdPost %></span
      >
      <br />

      <!-- Notice -->
      <span data-i18n="footer.notice"
        ><%- allI18n['en-US'].footer.notice %></span
      >
      <br />

      <!-- Debug info -->
      <details>
        <summary>Debug Info</summary>
        <h3>CLOUDFLARE_ERROR_1000S_BOX</h3>
        <div>::CLOUDFLARE_ERROR_1000S_BOX::</div>
        <h3>CLOUDFLARE_ERROR_500S_BOX</h3>
        <div>::CLOUDFLARE_ERROR_500S_BOX::</div>
        <h3>CLIENT_IP</h3>
        <span>::CLIENT_IP::</span>
        <h3>RAY_ID</h3>
        <span>::RAY_ID::</span>
        <h3>GEO</h3>
        <span>::GEO::</span>
      </details>
      <br />
    </div>
  </text>
</footer>
