<footer>
  <provider data-i18n="provider" data-i18n-default="<%- i18n.provider %>"><%- i18n.provider %></provider>
  <br />
  <text>
    <%for(footerItem of config.footer ) {%>
    <span data-i18n="<%= footerItem.key %>" data-i18n-default="<%- footerItem.value %>"><%- footerItem.value %></span>
    <br />
    <%}%>
  </text>
</footer>
