<reason>
  <explain>
    <main data-i18n="explain" data-i18n-default="<%= i18n.explain %>">
      <%= i18n.explain %>
    </main>
    <p><%- config.reason.explain %></p>
  </explain>
  <howtodo>
    <main data-i18n="howtodo" data-i18n-default="<%= i18n.howtodo %>">
      <%= i18n.howtodo %>
    </main>
    <p><%- config.reason.howtodo %></p>
  </howtodo>
</reason>
