<reason>
  <explain>
    <main data-i18n="explain"><%= i18n.explain %></main>
    <p data-i18n="reasons.<%= config.reasonKey %>.explain">
      <%- allI18n['en-US'].reasons[config.reasonKey].explain %>
    </p>
  </explain>
  <howtodo>
    <main data-i18n="howtodo"><%= i18n.howtodo %></main>
    <p data-i18n="reasons.<%= config.reasonKey %>.howtodo">
      <%- allI18n['en-US'].reasons[config.reasonKey].howtodo %>
    </p>
  </howtodo>
</reason>
