<!DOCTYPE html>
<html lang="en" data-i18n-langs="en-US,zh-CN">
  <%- include('lib/head'); %>
  <body>
    <!-- Pass all i18n data to the client for language switching -->
    <script type="application/json" id="i18n-data"><%= JSON.stringify(allI18n) %></script>
    
    <header>
      <main>
        <%= config.statusCode %>
      </main>
      <description data-i18n="pageText.<%= config.textKey %>">
        <%= allI18n['en-US'].pageText[config.textKey] %>
      </description>
    </header>

    <%- include('lib/card') -%>
    <%- include('lib/reason') -%>

    <% if (config.statusCode === 403) { %>
    <div class="challenge-container">::CAPTCHA_BOX::</div>
    <% } else if (config.fileName === "js-challenge.html") { %>
    <div class="challenge-container">::IM_UNDER_ATTACK_BOX::</div>
    <% } %>
  </body>

  <%- include('lib/footer') -%>

  <none> ::CLOUDFLARE_ERROR_1000S_BOX:: ::CLOUDFLARE_ERROR_500S_BOX:: </none>

  <noscript>
    ::CLOUDFLARE_ERROR_1000S_BOX:: ::CLOUDFLARE_ERROR_500S_BOX::
  </noscript>

  <script>
    const currentI18n = <%= JSON.stringify(allI18n['en-US']) %>;
    (<%- config.script.toString() %>)(currentI18n)
  </script>
</html>
