<!DOCTYPE html>
<html lang="en" data-i18n-langs="en-US,zh-CN">
  <%- include('lib/head'); %>
  <body>
    <header>
      <main>
        <%= config.statusCode %>
      </main>
      <description data-i18n="pageText.<%= config.textKey %>">
        <%= allI18n['en-US'].pageText[config.textKey] %>
      </description>
    </header>

    <%- include('lib/card') -%>
    <%- include('lib/reason') -%>
  </body>

  <%- include('lib/footer') -%>

  <none> ::CLOUDFLARE_ERROR_1000S_BOX:: ::CLOUDFLARE_ERROR_500S_BOX:: </none>

  <noscript>
    ::CLOUDFLARE_ERROR_1000S_BOX:: ::CLOUDFLARE_ERROR_500S_BOX::
  </noscript>

  <script>
    (<%- config.script.toString() %>)()
  </script>
</html>
