<!DOCTYPE html>
<html lang="en">

<%- include('lib/head'); %>
<body>

        <header>
            <main>
                <%= config.statusCode %>
            </main>
            <description>
                <%= config.text %>
            </description>
        </header>

        <%- include('lib/card') -%>
        <%- include('lib/reason') -%>

        <% if (config.statusCode === 1010 || config.statusCode === 1011 || config.statusCode === 1013 || config.statusCode === 1016) { %>
        <div class="challenge-container">
            ::CAPTCHA_BOX::
        </div>
        <% } else if (config.statusCode === 1012) { %>
        <div class="challenge-container">
            ::IM_UNDER_ATTACK_BOX::
        </div>
        <% } %>
</body>

<%- include('lib/footer') -%>

<none>
::CLOUDFLARE_ERROR_1000S_BOX::
::CLOUDFLARE_ERROR_500S_BOX::
</none>

<script>
    (<%- config.script.toString() %>)()
</script>

</html>